<ion-header>
  <ion-toolbar>
    <ion-title>Blogs</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateBlogModal()">
        Crear Blog
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let blog of blogs" style="margin-bottom: 20px;">
      <img *ngIf="blog.url_image_blog" [src]="blog.url_image_blog" alt="Imagen del blog" />
      <ion-card-header>
        <ion-card-title>{{ blog.name_blog }}</ion-card-title>
        <ion-card-subtitle>Por: {{ blog.user_sender }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ blog.text_blog }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>